div .featureWrapper {
    margin: auto;
    text-align: center;
    /*background: rgba(0,128,255,0.03);*/
}

@media (max-width: 800px) {
    div .featureWrapper {
        margin: auto;
    }
}

div .featureContent {
    width: 85%;
    margin: auto;
}

ul.features {
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    padding: 0;
    font-size: large;
    font-weight: bold;
    color: #5a6268;
}

.features > li {
    display: inline-block;
    margin: 1em auto;
}

.title {
    font-size: xx-large;
    color: #767676;
    font-weight: bolder;
}


.title.darker {
    color: #444444;
}

div.featureSubtitle{
    height: 10rem;
    width: 85%;
    margin: auto;
    display: flex;
}

div.featureSubtitle .flex{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

div.featureSubtitle > div {
    margin: auto;
}

span.featureSubtitle {
    line-height: 10rem;
}


.emphasis {
    font-size: 5em;
    color: #383838;
    font-weight: bolder;
}

.buttonText {
    font-weight: bolder;
    text-transform: uppercase;
}

.featureButton {
    background: #98be5d;
    border: none;
    margin-bottom: 8rem;
}

.featureButton:hover {
    background: #8caf56;
}