.widePopoverButton {
    width: 95%;
    margin: 0 auto;
}

.facebookButton {
    background-color: #3b5998;
    border-color: transparent !important;
}

.facebookButton:hover {
    background-color: #8b9dc3;
}

img.avatarImage {
    border-radius: 50%;
    height: 90%;
    margin-right: 0.5em ;
}

.popover {
    transition: opacity 0.2s;
}