.loginRedirectionWrapper {
    color: white;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loginRedirectionBackgroud {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(169,208,124,1);
    background: -moz-linear-gradient(-45deg, rgba(169,208,124,1) 0%, rgba(169,208,124,1) 5%, rgba(137,190,77,1) 27%, rgba(137,190,77,1) 51%, rgba(169,208,124,1) 71%, rgba(169,208,124,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(169,208,124,1) 0%, rgba(169,208,124,1) 5%, rgba(137,190,77,1) 27%, rgba(137,190,77,1) 51%, rgba(169,208,124,1) 71%, rgba(169,208,124,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(169,208,124,1) 0%, rgba(169,208,124,1) 5%, rgba(137,190,77,1) 27%, rgba(137,190,77,1) 51%, rgba(169,208,124,1) 71%, rgba(169,208,124,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(169,208,124,1) 0%, rgba(169,208,124,1) 5%, rgba(137,190,77,1) 27%, rgba(137,190,77,1) 51%, rgba(169,208,124,1) 71%, rgba(169,208,124,1) 100%);
    background: linear-gradient(135deg, rgba(169,208,124,1) 0%, rgba(169,208,124,1) 5%, rgba(137,190,77,1) 27%, rgba(137,190,77,1) 51%, rgba(169,208,124,1) 71%, rgba(169,208,124,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9d07c', endColorstr='#a9d07c', GradientType=1 );
}

.wideHeader {
    font-size: 2rem;
    letter-spacing: .5em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2em;
}

.baitDisplay {
    font-size: 4rem;
    font-weight: 300;
}

.baitDisplay b {
    font-weight: 600;
}

.description {
    font-size: 1.5rem;

}

.aboutBtn {
    border-color: white !important;
    border-width: medium !important;
    background: transparent;
}

.aboutBtn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.aboutBtn {
    background: rgba(255, 255, 255, 0.1);
}

.aboutBtn:active {
    background: rgba(255, 255, 255, 0.5)!important;
}


.facebook:disabled {
    background:  	#dfe3ee !important;
    color: #5a6268;

}

.facebook {
    background:  	#009ed0;
    color: white;
    border: none;
    margin-left: 0;
}

.facebook:hover {
    background: #0088b4;
}
