.text-important {
    color: #98be5d !important;
}

.bold {
    font-weight: bold;
}

img.rounded {
    border-radius: 50%;
}

button svg.right-icon {
    position: absolute;
    right: 1em;
    vertical-align: middle !important;
}

button svg path {
    fill: currentColor !important;
}

button div.spinner div {
    background-color: currentColor !important;
}

.logoutBtn {
    width: 100%;
    color: #ffffff;
    background-color: #98be5d;
    border-color: transparent;
}

.container-fluid {
    max-width: 1280px;
    margin: 0 auto;
}

hr {
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bfbfbf, rgba(0, 0, 0, 0));
}

div.vr {
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    width: 1px;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #bfbfbf, rgba(0, 0, 0, 0));
}