a.nav-link {
    transition: color .2s ease-in-out;
    color: #98be5d !important;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

a.nav-link:hover {
    color: #999999 !important;
}

.navbar .navbar-brand{
    padding-bottom: 0;
    padding-top: 0;
}